#contentTop{background:url("pic/center_bg.jpg"); padding:10px 0; padding-left:10px; }
#contentTop > .left{width:300px; /*border-right:1px solid #000;*/ float:left; }
#contentTop > .right{width:688px; /*border-left:1px solid #000;*/ float:right; }




#remarks{width:281px; height:320px; background:url("pic/remarks.jpg"); }
#remarks .content{width:240px; padding:15px 20px; }
#remarks h2{color:#ff8100; }
#remarks .top{padding-left:20px; }
#remarks .top img{float:left; height:80px; width:80px; }
#remarks .top ul{float:left; color:#ff7a00; padding-left:20px; line-height:24px; }
#remarks .bottom{height:129px; background:url("pic/remarks_bottom_bg.jpg"); padding:40px 0 0 24px; line-height:24px; }




#nav_left{height:275px; padding-top:10px; background:url("pic/nav_left.jpg"); width:281px; margin-top:14px; }
#nav_left li{height:65px; line-height:65px; padding-left:120px; }
#nav_left a{font-size:28px; font-weight:bold; }
#nav_left li:nth-child(1) a{color:#63adfd; text-shadow:2px 2px 3px  #63adfd;}
#nav_left li:nth-child(2) a{color:#9dc200; text-shadow:2px 2px 3px  #9dc200;}
#nav_left li:nth-child(3) a{color:#ffc200; text-shadow:2px 2px 3px  #ffc200;}
#nav_left li:nth-child(4) a{color:#ff3c36; text-shadow:2px 2px 3px  #ff3c36;}



#prompt{height:308px; width:684px; background:url("pic/right_top1.jpg"); margin-top:3px; }
#prompt .left{width:350px; float:left; }
#prompt .img{padding:50px 0 0 50px; position:relative; width:270px; height:220px; }
#prompt .img > div{overflow:hidden; }
#prompt .pic{width:1350px; position:relative; left:0; transition:.5s linear;  }
#prompt .pic img{width:270px; float:left; height:220px; }

#prompt .num{height:18px; position:absolute; bottom:0; background:rgba(0,0,0,0.4); width:270px; display:flex; justify-content:flex-end; }
#prompt .num li{padding:0 10px; line-height:18px; color:#fff; cursor:pointer; border-right:1px solid rgba(255, 255, 255, 0.5); }
#prompt .num li:hover, #prompt .num .active{background:linear-gradient(to bottom, #ff0000, #7e0000); }

#prompt .right{float:right; width:290px; }
#prompt .hint{padding:70px 40px 0 0; }
#prompt .hint > div{height:75px; overflow:hidden; }
#prompt .hint .text{position:relative; }
#prompt .hint p{text-indent:2em; }
#prompt .class{padding-top:54px; }
#prompt .class li{background:url("pic/mashroom.png") 3px 3px no-repeat; line-height:26px; text-indent:35px; }


#news{width:682px; height:249px; padding-top:36px; background:url("pic/news.jpg") no-repeat; margin-top:22px; }
#news .news{float:left; width:272px; padding-left:30px; }
#news .notice{float:right; width:272px; padding-right:26px; }
#news .more{text-align:right; }
#news .more a{color:#fff; font-size:12px; margin-right:10px; }
#news .more a:hover{text-decoration:underline; }
#news ul{padding-top:20px; font-size:12px; color:#949494; }
#news li{display:flex; justify-content:space-between; padding:12px 0 0 25px; height:23px; background:url("pic/flower.gif") no-repeat 0 5px;  }
#news li a{color:#949494; width:180px; white-space : nowrap;  overflow:hidden; text-overflow:ellipsis; line-height:12px; height:12px; display:block}
#news li a:hover{color:#269bff; }
#news span{width:70px; }


#happyTime{background:url("pic/center_bg.jpg"); }
#happyTime .content{width:980px; height:266px; background:url("pic/happyTime.jpg") no-repeat; margin:0 auto; padding-top:34px; }
#happyTime .more{height:16px; line-height:16px; text-align:right; padding:0 50px 20px 0; font-size:12px; }
#happyTime .more a{color:#fff; }
#happyTime .more a:hover{text-decoration:underline; }
#happyTime .pic{padding-left:26px; height:210px; width:800px; overflow:hidden; }
#happyTime .pic > div{width:1740px; }
#happyTime .pic img{height:210px; float:left; width:280px; margin-right:10px; }






























