html{width:100%; }
body{background:#e4f5ff url("pic/body_bg.jpg") center top no-repeat; margin:0; width:100%; }
p,h1,h2,h3,h4,h5,h6,li,ul{padding:0; margin:0; }
li{list-style:none; }
a{text-decoration:none; }
img{vertical-align:top; }
.clear{zoom:1; }
.clear:after{content: ''; display: block; clear:both; }

#center{width:1000px; margin:0 auto; }

#top .banner{height:190px; }
#top .logo{padding:40px 0 0 80px; }
#top .img{float:left; border-radius:50%; overflow:hidden; }
#top .img a{display:block; }
#top .logo .text{float:left; padding:30px 0 0 15px; }
#top .logo span:nth-child(1){color:purple; }
#top .logo span:nth-child(2){color:red; }
#top .logo span:nth-child(3){color:#ffcf00; }
#top .logo span:nth-child(4){color:blue; }


.nav{height:50px; display:flex; justify-content:center; line-height:50px;}
.nav li{margin:0 15px; }
.nav a{font-size:22px; font-weight:bold; }
.nav li:nth-child(1) a{color:#ff4c4c; }
.nav li:nth-child(2) a{color:#ff9620; }
.nav li:nth-child(3) a{color:#ffbd00; }
.nav li:nth-child(4) a{color:#9bbf00; }
.nav li:nth-child(5) a{color:#4fbabb; }
.nav li:nth-child(6) a{color:#a87eef; }
.nav li:nth-child(7) a{color:#ff618c; }



#footer{height:176px;/* background:url("pic/footer.jpg") center top no-repeat; */}



















